@font-face {
	font-family: 'StarWars';
	src: url('../fonts/Starjedi.ttf');
}
* { padding: 0; margin: 0; }

h1 {
	color: fuchsia;
	font-family: 'StarWars', sans-serif;
	font-size: 100px;
}

.game-container {
	width: 100%;
	height: 100%;
	background-image: url("../images/bk1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h2 {
	color: fuchsia;
	font-family: 'StarWars', sans-serif;
	font-size: 20px;
}
.character {
	height: 75px;
	width: 100px;
}
.character-button, .character-container {
	text-align: center;
	height: 115px;
	width: 120px;
	border-color: green;
	border-width: 2px;
	background-color: white;
}